body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
}

.container{
    width: 500px;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 4px;
    background-color: rgb(250, 249, 249);
}

.text-container{
    width: 100%;
    margin-top: 10px;
}

.button-conatiner{
    width: 100%;
    margin-top: 10px;
}

.common{
    display: flex;
    justify-content: space-between;
}

button{
    flex: auto;
    font-size: 1.1em;
    background-color: white;
    width:calc(16% - 10px);
    margin:5px 5px;
    padding: 6px;
    border: 1px solid rgb(211, 210, 210);
    border-radius: 4px;
    box-shadow: 0px 1px 0px rgb(202, 201, 201);
    cursor: pointer;
}

input{
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    color: rgb(36, 36, 36);
}

.equal{
    background-color: rgb(112, 176, 236);
    color: white;
    border: 1px solid rgb(1, 1, 219);
    flex-grow: 2;
    width:calc(32% - 10px);
}

.fa-undo{
    font-size: 1.1em;
    font-weight: lighter;
}

@media all and (max-width : 600px){
    .container {
        width : 450px;
    }
}
@media all and (max-width : 500px){
    .container {
        width : 350px;
    }
}
@media all and (max-width : 400px){
    .container {
        width : 290px;
    }
}

button:active{
    background-color: rgb(231, 230, 230);
}
.equal:active {
    background-color: rgb(41, 139, 231);;
}